<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>密码修改页</title>
  <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
  <script src="../../static/js/jquery.min.js"></script>
  <script src="../../static/js/bootstrap.min.js"></script>
</head>
<style>
  .login-block {
    position: absolute;
    top: 50%;
    transform:  translateY(-50%);
  }
</style>
<body style="background:url(../../static/img/background1.jpg) no-repeat center; background-position: center 0; background-size: cover; margin: 0px;">
<div>

  <form action="/user/password" method="post" >
    <div class="col-md-4 col-lg-4 col-lg-offset-4 col-md-offset-4 login-block" style="background-color: white; opacity: 0.8; padding: 50px; border-radius: 15px">
      <h3 style="text-align: center;padding-bottom:20px;font-family:Helvetica Neue, Helvetica, Arial, sans-serif;font-size: 40px">修改密码</h3>
      <div class="form-group input-group input-group-lg" >
        <span class="input-group-addon" id="mobile" >手机号码</span>
        <input type="text" name="Mobile" class="form-control" placeholder="手机号码">
      </div>

      <div class="form-group input-group input-group-lg">
        <span class="input-group-addon" id="password" >旧密码&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <input type="password" name="Password" class="form-control" placeholder="旧密码">
      </div>
      <div class="form-group input-group input-group-lg">
        <span class="input-group-addon" id="npassword" >新密码&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <input type="password" name="npassword" class="form-control" placeholder="新密码">
      </div>
      <div class="form-group center-block">
        <button type="button" id="changePasswordButton" class="btn btn-success center-block" style="width: 80px;height: 40px;font-size: 20px">修改</button>
        <a href="/user/login">点击登录</a>
      </div>

    </div>
  </form>
</div>
</body>
<script>
  $(document).ready(function() {
    $('#changePasswordButton').click(function() {
      var mobile = $('input[name="Mobile"]').val();
      var password = $('input[name="Password"]').val();
      var npassword = $('input[name="npassword"]').val();

      $.ajax({
        url: '/user/password',
        type: 'POST',
        contentType: 'application/json',
        data: JSON.stringify({ Mobile: mobile, Password: password, Npassword: npassword }),
        success: function(response) {
          if (response.code === 200) {
            // 密码修改成功，跳转到登录页面
            alert(response.msg);
            window.location.href = "/user/login";
          } else {
            // 密码修改失败，显示错误信息
            alert(response.msg);
          }
        },
        error: function(xhr, status, error) {
          if (xhr.status === 422) {
            alert("密码修改失败: " + xhr.responseJSON.msg);
            // 获取旧密码输入框元素
            var oldPasswordInput = document.querySelector('input[name="Password"]');
            // 获取新密码输入框元素
            var newPasswordInput = document.querySelector('input[name="npassword"]');
            // 清空旧密码输入框
            oldPasswordInput.value = '';
            // 清空新密码输入框
            newPasswordInput.value = '';
          } else {
            alert("密码修改请求失败: " + error);
          }
        }
      });
    });
  });
</script>
</html>
